######################
# Backend
######################
**/.idea/
**/contabil-financeiro-backend.iml
**/HELP.md
**/target/
**/pom.xml.tag
**/mnvw
**/mvnw.cmd
**/.mvn/*
**/.mvn/wrapper/*
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/bin/
**/tmp/
**/public/
**/local.properties
**/.settings/
**/.loadpath
**/.recommenders
**/.externalToolBuilders/
**/*.pydevproject
**/.project
**/.metadata
**/tmp/
**/tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.settings/
**/.loadpath
**/.factorypath
**/src/main/resources/rebel.xml
.idea/
**/.dbeaver/

######################
# Frontend
######################
**/coverage
**/node
